$primary-color: #3498db;
$hover-color: #2980b9;
$text-color: #333;

body {
  background-color: white;
  color: $text-color;
}

nav {
  background-color: $primary-color;

  a {
    color: white;

    &:hover {
      color: $hover-color;
    }
  }
}
