// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.navbar-nav {
  .nav-link {
    // 기본 글자 색상 설정
    color: rgba($sta-menu-text, 0.85);

    // 마우스 오버 시 색상 변경
    &:hover {
      color: $sta-menu-text-active; // 마우스 오버 시 색상
    }

    &.active,
    &:focus {
      color: $sta-menu-text;
    }

    &.active {
      font-weight: bold !important;
      color: $sta-menu-text-active !important;
    }
  }
}