// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.menu-item {
  color: #333; // 기본 색상
  transition: color 0.3s ease; // 색상 변경 애니메이션

  &:hover {
    color: #007bff; // 마우스 오버 시 색상 변경
  }
}