// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.navbar-nav .nav-link {
  transition: color 0.3s; // 색상 변경에 부드러운 전환 효과 추가

  &:hover {
    color: #007bff; // 마우스를 올렸을 때 사용할 색상으로 변경
  }
}